[submodule "externals/efm_datasets"]
	path = externals/efm_datasets
	url = https://github.com/TRI-ML/efm_datasets.git
[submodule "externals/camviz"]
	path = externals/camviz
	url = git@github.com:TRI-ML/camviz.git
